.page-header
  = render :partial => "shared/flashes"
  %h1
    = "Profile of #{current_user.firstname} #{current_user.lastname}"

    %small edit you're account details
.row
  .span14
    %h2

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|

      = get_devise_error_messages

      %fieldset

        .clearfix

          = f.label :firstname, :for => 'xlInput'
          .input
            = f.text_field :firstname, :class => 'xlarge'

        .clearfix
          = f.label :lastname, :for => 'xlInput'
          .input
            = f.text_field :lastname, :class => 'xlarge'

        .clearfix
          = f.label :email, :for => 'xlInput'
          .input
            = f.text_field :email, :class => 'xlarge'

        .clearfix
          = f.label :password, :for => 'xlInput'
          .input
            = f.password_field :password

        .clearfix
          = f.label :password, :for => 'xlInput'
          .input
            = f.password_field :password_confirmation
            %span.help-inline
              password confirmation

        .clearfix
          = f.label :current_password, :for => 'xlInput'
          .input
            = f.password_field :current_password

        .actions
          = f.submit "Save", :class => 'btn primary'
          %a.btn{:href => "/"} Cancel