.page-header
  = render "shared/flashes"
  %h1
    =t('registrations.new.heading')
    %small
      = t('registrations.new.subheading')
.row
  .span10
    %h2
      = t('form.title.sign.up')

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

      = get_devise_error_messages

      %fieldset

        .clearfix

          = f.label t('form.label.firstname'), :for => 'xlInput'
          .input
            = f.text_field :firstname, :class => 'xlarge', :id => 'Firstname'

        .clearfix
          = f.label t('form.label.lastname'), :for => 'xlInput'
          .input
            = f.text_field :lastname, :class => 'xlarge', :id => 'Lastname'

        .clearfix
          = f.label t('form.label.email'), :for => 'xlInput'
          .input
            = f.text_field :email, :class => 'xlarge', :id => 'Email'

        .clearfix
          = f.label t('form.label.password'), :for => 'xlInput'
          .input
            = f.password_field :password, :id => 'Password'

        .clearfix
          = f.label t('form.label.password'), :for => 'xlInput'
          .input
            = f.password_field :password_confirmation, :id => 'Password confirmation'
            %span.help-inline
              = t('form.help.password_confirmation')

        .actions
          = f.submit t('form.button.register'), :class => 'btn primary', :id=>'button_signup'
          %button{:type=>'reset', :class => 'btn', :id=>'button_signup_reset'}
            = t('form.button.reset')

  .span4
    %h3
      = t('sidebar.link_list.heading')
    %p
      = render "devise/shared/links"

