.page-header
  %h1
    Welcome
    %small login into you're account or register a new one
.row
  .span10
    %h2
      Register new

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

      = devise_error_messages!

      %fieldset

        .clearfix

          = f.label :firstname, :for => 'xlInput'
          .input
            = f.text_field :firstname, :class => 'xlarge'

        .clearfix
          = f.label :lastname, :for => 'xlInput'
          .input
            = f.text_field :lastname, :class => 'xlarge'

        .clearfix
          = f.label :email, :for => 'xlInput'
          .input
            = f.text_field :email, :class => 'xlarge'

        .clearfix
          = f.label :password, :for => 'xlInput'
          .input
            = f.password_field :password

        .clearfix
          = f.label :password, :for => 'xlInput'
          .input
            = f.password_field :password_confirmation
            %span.help-inline
              password confirmation

        .actions
          = f.submit "Register", :class => 'btn primary'
          %button{:type=>'reset', :class => 'btn'}
            Reset

  .span4
    %h3
      Alternatives
    %p
      = render :partial => "devise/shared/links"

