.page-header
  %h1
    Forgot you're password?
    %small login into you're account or reset you're password
.row
  .span10
    %h2
      Password Forgotten

    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|

      = devise_error_messages!

      %fieldset

        .clearfix
          = f.label :email, :for => 'xlInput'
          .input
            = f.text_field :email, :class => 'xlarge'

        .actions
          = f.submit "Send me instructions", :class => 'btn primary'
          %button{:type=>'reset', :class => 'btn'}
            Reset

  .span4
    %h3
      Alternatives
    %p
      = render "devise/shared/links"
