.page-header
  %h1#page_title
    = t('passwords.forgotten.new.heading')
.row
  .span10
    %h2

    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|

      = get_devise_error_messages

      %fieldset#fieldset_password_forgotten

        .clearfix
          = f.label t('form.label.email'), :for => 'xlInput', :id => 'label_email'
          .input
            = f.text_field :email, :class => 'xlarge', :id => 'field_email'

        .actions
          = f.submit t("form.button.send_me_instructions"), :id => 'button_send', :class => 'btn primary'
          %button{:type=>'reset', :class => 'btn', :id => 'button_reset'}
            = t('form.button.reset')

  .span4
    %h3
      = t('sidebar.link_list.heading')
    %p
      = render "devise/shared/links"
