.topbar
  .fill
    .container
      %a.brand{:href => "/"} Educon

      - if user_signed_in?

        %ul.nav
          = get_top_bar_menu_item('Home', users_home_path)
          = get_top_bar_menu_item('Help', "https://github.com/marhan/educon/wiki")
          = get_top_bar_menu_item('Sign out', destroy_user_session_path)
        %p.pull-right
          Signed in as
          %a{:href => edit_user_registration_path, :id => "Edit Account"}
            = current_user.email

      - else

        %ul.nav
          = get_top_bar_menu_item('Home', root_path)
          = get_top_bar_menu_item('Help', "https://github.com/marhan/educon/wiki")
          = get_top_bar_menu_item('Sign up', new_user_registration_path)
        = render "shared/login_menu_item"

        = render "shared/github_ribbon"