.topbar
  .fill
    .container
      %a.brand{:href => "/"} Educon

      - if user_signed_in?

        %ul.nav
          = get_top_bar_menu_item(t('topbar.menu.item.home'), users_home_path)
          = get_top_bar_menu_item(t('topbar.menu.item.help'), "https://github.com/marhan/educon/wiki")
          = get_top_bar_menu_item(t('topbar.menu.item.sign.out'), destroy_user_session_path)
        %p.pull-right
          = t('topbar.signed_in_as')
          %a{:href => edit_user_registration_path, :id => "Edit Account"}
            = current_user.email

      - else

        %ul.nav
          = get_top_bar_menu_item(t('topbar.menu.item.home'), root_path)
          = get_top_bar_menu_item(t('topbar.menu.item.help'), "https://github.com/marhan/educon/wiki")
          = get_top_bar_menu_item(t('topbar.menu.item.sign.up'), new_user_registration_path)
        = render "shared/login_menu_item"

        = render "shared/github_ribbon"