#topbar.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.brand{:href => "/"} Educon
      .nav-collapse
        %ul.nav
          = get_top_bar_menu_item(t('topbar.menu.item.home'), root_path)
          = get_top_bar_menu_item(t('topbar.menu.item.wiki'), "https://github.com/marhan/educon/wiki")
          = get_top_bar_menu_item(t('topbar.menu.item.sign.up'), new_user_registration_path)
          = get_top_bar_menu_item(t('topbar.menu.item.password.forgotten'), new_user_password_path)
      = render "shared/login_menu_item"