!!! utf-8
%html.signed_in
  %head
    = render "shared/meta"
    %body
      = render "shared/header"
      .container-fluid
        = render :partial => "shared/flashes"
        = yield
      = render "shared/footer"

