!!! utf-8
%html.signed_in
  %head
    = render "shared/meta"
    %body
      = render "shared/header"
      .container

        .content
          = render :partial => "shared/flashes"
          = yield

        %footer
          = render "shared/footer"

