!!! utf-8
%html.no-js.signed_in
  %head
    = render "shared/meta"
    %body
      = render "shared/topbar_signed_in"
      .container-fluid
        .row-fluid
          = render "shared/flashes"
          = render "shared/sidebar"
          = yield
